body {
	background-image: http://cdn.wallpapersafari.com/46/49/OfQHDK.jpg("OfQHDK.jpg");
	background-repeat: no-repeat;
	color: black;
}

#Falcons {
	position: absolute;
	top: 0px;
	right: 400px;
	width: 30px;
	height: 70px;
}

IMG.logo {
	text-align: center
}

h1{
	font-family: Agency FB;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	padding-top: 150px;
}

